.settings/
sdvx_*er/*
dist/*
build*
to_bin/*
*.spec
*.log
*.pyc
__pycache__/*
sdvx_helper/*
tmp/*
jackets/*
*.zip
log/*
params_secret.py
out/*
alllog.pkl
settings.json

# PyClipse project files
.project
.pydevproject
